<%- include("../../partials/header.ejs") %>

<div class="container my-3">
	<h1>Administrator Painel</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis mollitia quasi, nobis. Necessitatibus a qui delectus aut quas eius obcaecati, saepe non maiores aperiam possimus, hic corporis quaerat, perferendis explicabo quis sit ad aliquid veniam asperiores. Inventore nulla perspiciatis molestias maxime, ipsa non, repellendus exercitationem quae excepturi nam impedit earum possimus harum blanditiis nesciunt libero, explicabo vero culpa beatae illo, quibusdam! Distinctio nulla laborum nemo dolores eaque suscipit quas recusandae dolore rerum ipsa nostrum itaque doloribus, commodi necessitatibus iusto ratione, quia dolorum? Cumque nostrum vero laborum debitis. Quasi sed cumque quam quos voluptatem hic veniam alias sunt officia commodi. Laboriosam.</p>
	<button class="btn btn-primary">Testing</button>
</div>

<%- include('../../partials/footer.ejs') %>
